@import 'bootstrap';

$timer-color: #0fff34;
$timer-gray: #e0e0e0;

.timer-wrapper {
  @include make-xs-column(8);
  @include make-xs-column-offset(2);
  margin-top: 25px;
  position: relative;

  @media screen and (min-width: 768px) {
    @include make-xs-column(6);
    @include make-xs-column-offset(3);
  }
}

.timer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.timer-button {
  @extend .timer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glyphicon-play {
  background: none;
  border: 0;
  font-size: 75px;
  z-index: 400;

  @media screen and (min-width: 768px) {
    font-size: 115px;
  }
}

.glyphicon-stop {
  @extend .glyphicon-play;
  // left: 25%;

  @media screen and (min-width: 768px) {
  }
}

%show-right {
  border: 5px solid;
  border-radius: 50%;
  clip-path: inset(0 50% 0 0);
}

%show-left {
  @extend %show-right;
  clip-path: inset(0 0 0 50%);
}

.spinner {
  @extend %show-right;
  border-color: $timer-color;
  z-index: 50;
}

.filler {
  @extend %show-left;
  border-color: $timer-color;
  z-index: 0;
}

.background-border-left {
  @extend %show-right;
  border-color: $timer-gray;
  z-index: 100;
}

.background-border-right {
  @extend %show-left;
  border-color: $timer-gray;
  z-index: 25;
}

form.timer {
  z-index: 600;
}
