@import 'modal';
@import 'timer';
// @import 'bootstrap';

header {
  background-color: #ff194d;
  color: #0fff34;
  padding-bottom: 10px;

  .title {
    display: inline-block;
    font-size: 20px;
    margin-top: 15px;
  }
  >a {
    float: right;
    margin: 10px 10px auto auto;
  }
}

.timer-settings {
  display: flex;
  justify-content: center;

  >div {
    @include make-xs-column(6);
    @media screen and (min-width: 768px) {
      @include make-xs-column(3);
    }
  }


}
