@import 'bootstrap';

.title-bar {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    h1 {
      flex-grow: 1;
    }
  }

  ul {
    list-style: none;
    display: inline-flex;
    justify-content: center;
    @media screen and (min-width: 768px) {
      margin-top: 25px;
    }
    a {
      margin-right: 15px;
    }
  }
}

main {
  margin-top: 70px; //Navbar overlaps, a margin is needed
  span {
    @include make-xs-column(10);
    @include make-xs-column-offset(1);
    @include make-sm-column(5);
  }
  .row {
    p {
      font-size: 16px;
      @media screen and (min-width: 768px) {
        font-size: 22px;
      }
    }

    img.center-block {
      width: 75%;
      height: auto;
    }

  }


}

.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  button {
    @include make-xs-column(10);
    @include make-xs-column-offset(1);
    @include make-sm-column(6);
    @include make-sm-column-offset(3);
  }
}
