@import 'bootstrap';

.title-bar {
  display: flex;
  flex-direction: column;
  text-align: center;

  > * {
    @include make-sm-column(5);
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;

    h1 {
      justify-content: flex-start;
      margin-left: 15px;
    }
  }

  ul {
    @include make-sm-column-offset(1);
    display: inline-flex;
    justify-content: center;
    list-style: none;

    @media screen and (min-width: 768px) {
      justify-content: flex-end;
      margin-top: 25px;
    }

    a {
      margin-right: 15px;
    }
  }
}

main {
  margin-top: 70px; //Navbar overlaps, a margin is needed

  .row {

    h2 {
      font-size: 22px;
      text-align: center;
      @media screen and (min-width: 768px) {
        font-size: 28px;
      }
    }

    p {
      font-size: 16px;

      @media screen and (min-width: 768px) {
        font-size: 22px;
      }
    }

    img.center-block {
      width: 75%;
      height: auto;
    }

  }
  .timeline-img {
    width: 100%;
    height: auto;
  }

}

.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  button {
    @include make-xs-column(10);
    @include make-xs-column-offset(1);
    @include make-sm-column(6);
    @include make-sm-column-offset(3);
  }
}
