header>.title {
  display: inline-block;
  font-size: 20px;
  margin-top: 15px;
}

header > button {
  float:right;
  margin: 10px 10px auto auto;
}

header {
  background-color: #ff194d;
  color: #0fff34;
  padding-bottom: 10px;
}

.timer {
  width: 300px;
  height: 300px;
  position: absolute;
}
.spinner {
  /*Replace 'clip' with 'clip-path' when firefox supports*/
  /*clip: rect(auto 150px auto auto);
  border-radius: 50%;
  z-index: 200;
  border: 2px solid green;*/
}

.filler {
  /*clip: rect(auto 150px auto auto);
  border-radius: 50%;
  z-index: 250;
  animation-fill-mode: forwards;
  border: 2px solid green;*/
}
.mask {
  /*clip: rect(auto 150px auto auto);
  z-index: 300;
  opacity: 1;
  background: white;
  animation-fill-mode: forwards;*/
}

.background-border-left {
  clip: rect(auto 150px auto auto);
  border: 5px solid #E0E0E0;
  border-radius: 50%;
  z-index: 350;
}

.background-border-right {
  clip: rect(auto auto auto 150px);
  border: 5px solid #E0E0E0;
  border-radius: 50%;
  z-index: 100;
}

@keyframes rota {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes fill {
  0% {clip: rect(auto 150px auto auto);}
  100% {clip: rect(auto auto auto 150px);}
}

@keyframes mask {
  0% {clip: rect(auto 150px auto auto); z-index: 300;}
  100% {clip: rect(auto auto auto 150px);z-index: 225;}
}

@keyframes border-ring {
  0% {z-index: 350;}
  100% {z-index: 150;}
}

.glyphicon-play, .glyphicon-stop {
  font-size: 80px;
  top: 110px;
  left: 110px;
  border: 0;
  background: none;
  z-index: 400;
}

.glyphicon-stop {
  left: 100px;
}
form.timer {
  z-index: 600;
}

.clock {
  width: 150px;
  height: 50px;
  position: absolute;
  left: 95px;
  top: 115px;
}

.clock input {
  width: 100px;
  height: 100%;
  text-align: center;
  font-size: 40px;
}
.clock label {
  margin-bottom: 0;
  vertical-align: bottom;
}


.wrapper {
  height: 300px;
  margin-bottom: 20px;
}

.mood-feedback {
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
}

.svg-ic_mood_24px {
  width: 24px;
  height: 24px;
  background: url('./img/social.svg') 40% 25% no-repeat;
}

.svg-ic_mood_bad_24px {
	background: url('./img/social.svg') 0 50% no-repeat;
	width: 24px;
	height: 24px;
}

.svg-ic_sentiment_neutral_24px {
	background: url('./img/social.svg') 80% 100% no-repeat;
	width: 24px;
	height: 24px;
}

.hidden {
  display: none;
}
