header>.title {
  display: inline-block;
  font-size: 20px;
  margin-top: 15px;
}

header > button {
  float:right;
  margin: 10px 10px auto auto;
}

header {
  background-color: #ff194d;
  color: #0fff34;
  padding-bottom: 10px;
}

.timer {
  width: 300px;
  height: 300px;
  position: absolute;
}
.spinner {
  /*Replace 'clip' with 'clip-path' when firefox supports*/
  clip: rect(auto 150px auto auto);
  border-radius: 50%;
  /*animation: rota 10s linear 1 forwards;*/
  z-index: 200;
  border: 2px solid green;
}

.filler {
  clip: rect(auto 150px auto auto);
  border-radius: 50%;
  /*animation: fill 5s steps(1, end) 1;*/
  z-index: 250;
  animation-fill-mode: forwards;
  border: 2px solid green;
}
.mask {
  clip: rect(auto 150px auto auto);
  z-index: 300;
  opacity: 1;
  background: white;
  animation-fill-mode: forwards;
}

form.timer {
  z-index: 600;
}

.clock {
  width: 150px;
  height: 50px;
  position: absolute;
  left: 95px;
  top: 115px;
}

.clock input {
  width: 100px;
  height: 100%;
  text-align: center;
  font-size: 40px;
}
.clock label {
  margin-bottom: 0;
  vertical-align: bottom;
}
@keyframes rota {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes fill {
  0% {clip: rect(auto 150px auto auto);}
  100% {clip: rect(auto auto auto 150px);}
}

@keyframes mask {
  /*0% {z-index: 300;}*/
0% {clip: rect(auto 150px auto auto); z-index: 300;}
  100% {clip: rect(auto auto auto 150px);z-index: 225;}
  /*100% {z-index: 200;}*/
}
