$border-color: #e0e0e0;
$background-color: #f5deb3;

.mood-feedback {
  background: none;
  margin-right: 25px;
}

.modal-body {
  h3 {
    text-align: center;
  }
}

.modal-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.form-mood {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.sad-face {
  background-image: url('./img/ic_mood_bad_black_24px.svg');
}

.happy-face {
  background-image: url('./img/ic_mood_black-24px.svg');
}

.okay-face {
  background-image: url('./img/ic_sentiment_neutral_black_24px.svg');
}

.btn.mood-feedback {
  font-size: 30px;
}

.modal-body {
  .nav > li:hover {
    cursor: pointer;
  }

  >.nav-tabs {
    a {
      border: 1px solid $border-color;
    }

    .active > a {
      background-color: $background-color;
    }

    .active > a:hover {
      background-color: $background-color;
    }
  }
}
