@import 'modal';
@import 'timer';

$orange: #ff835a;
// $hdr-color: #ff194d;
$hdr-color: $orange;
$bg-color: #fffff2;

body {
  font-family: 'Rubik', sans-serif;
  background-color: $bg-color;
}


h1,
h2,
h3 {
  font-family: 'Old Standard TT', serif;
  font-weight: bold;
}

header {
  background-color: $hdr-color;
  color: $timer-color;
  padding-bottom: 10px;

  .title {
    font-family: 'Old Standard TT', serif;
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 15px;
    @media screen and (min-width: 768px) {
      margin-top: 25px;
      display: inline-block;
      font-size: 36px;
    }
  }

  .btn-group {
    display: flex;
    justify-content: center;

    @media screen and (min-width: 768px) {
      display: inline-block;
      float: right;

      >a {
        margin-top: 25px;
      }
    }
  }
}

.stopwatch-settings {
  display: flex;
  justify-content: center;

  >div {
    @include make-xs-column(6);
    @include make-sm-column(3);
  }
}

#empty-timeline {
  h2 {
    margin-top: 30px;
    text-align: center;
  }
}

.timer-settings {
  .input-group {
    margin-top: 15px;
  }

  button {
    float: right;
    margin-top: 15px;
  }
}

.col-xs-12.page {
  padding-left: 0;
}
